
/*----------------- FONTS ------------------*/

@import url('https://fonts.googleapis.com/css?family=Balthazar|UnifrakturMaguntia&display=swap');

/*
regular text
font-family: 'Balthazar', serif;
headings
font-family: 'UnifrakturMaguntia', cursive;
*/

/*@import url('http://fonts.cdnfonts.com/css/koch-fette-deutsche-schrift');*/

label {
    /*font-family: 'Koch Fette Deutsche Schrift', sans-serif;*/
	font-family: 'Balthazar', serif;
}

h1 {
    font-family: 'UnifrakturMaguntia', cursive;
}


/*----------------- Tabs - buttons and visibility, Roll Toggles ------------------*/

.sheet-topgrid {
  grid-area: topgrid;
  align-self: self-start;
  font-family: 'Balthazar', serif;
  grid-template-columns: 200px 345px 50px 6px 50px 6px 50px 10px 70px 15px 60px;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: 30px;
  
}

label.sheet-big-label {
	
	font-family: 'Balthazar', serif;
	text-align: center;
	color: black;
	display: inline;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;
	
}

.sheet-topgrid input[type=number].sheet-stat-inputs,
.sheet-nameline input[type=number].sheet-stat-inputs{
	
	font-family: 'Balthazar', serif;
	color: black;
	display: inline;
	height:30px;
	width:40px;
	text-align: center;
	font-size: 1.5em;
}


button.sheet-radio-roll-state {
	
	font-family: 'Balthazar', serif;
	font-size: 1.5em;
	color: black;
	border-style: solid;
	/*border-radius: 8px;*/
	text-align: center;
	line-height: 25px;
	height: 25px;

}


button.sheet-radio-roll-state-advantage {
	
	background-color: rgb(213, 235, 217);
	
}

button.sheet-radio-roll-state-flat {
	
	background-color: rgb(235, 237, 235);
	
}

button.sheet-radio-roll-state-disadvantage {
	
	background-color: rgb(230, 204, 208);
	
}

input.sheet-radio-roll-state[value="advantage"] ~ button.sheet-radio-roll-state-advantage {
    background-color: rgb(149, 232, 164);

}

input.sheet-radio-roll-state[value="flat"] ~ button.sheet-radio-roll-state-flat {
    /*background-color: rgb(160, 163, 160);*/
	background-color: #888;
}

input.sheet-radio-roll-state[value="disadvantage"] ~ button.sheet-radio-roll-state-disadvantage {
    background-color: rgb(212, 97, 115);
}



.tab-container {
    border-bottom-style: double;
    border-width: 8px;
    width: 551px;
    margin:0px;
    padding: 0px;
    margin-bottom: -4px;
    
}
input[type="radio"].tab {
	width: 108px;
	height: 30px;
	display: inline-block;
    opacity: 0;
    position: relative;
    cursor: pointer;
	z-index: 1;
    margin: 0px;
    padding: 0px;
}
input[type="radio"].tab + label{
	width: 108px;
	height: 30px;
	display: inline-block;
    position: relative;
    margin: 0px;
    margin-right: -114px;
    margin-top: 4px;
    padding: 0px;
    padding-top: 4px;
    left: -108px;
    background-color: white;
    color: black;
    text-align: center;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 2px;
    font-size: 22px;
}

input[type="radio"].tab:checked + label{
    background-color: #888;
}

.tab-pilot,
.tab-plane,
.tab-npc,
.tab-confidants,
.tab-roster {
    display: none;
    visibility: hidden;
}

.tab-pilot-radio:checked ~ .tab-pilot,
.tab-plane-radio:checked ~ .tab-plane,
.tab-npc-radio:checked ~ .tab-npc,
.tab-confidants-radio:checked ~ .tab-confidants,
.tab-roster-radio:checked ~ .tab-roster {
    display: block;
    visibility: visible;
}


/*----------------- GRIDS ------------------*/



.sheet-main {
  
}

/*----------------- Plane Tab Formatting ------------------*/
    
    .plane {
        width: 1080px;
    }
    
    /*A custom radio button*/
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 40px;
		width: 40px;
		background-color: #00000000;
		border-radius: 50%;
	} 
	/*Creating circles for radio buttons*/
    .alt label {
        position: absolute;
        left: 154px; top: 307px;
    } 
	.spd label {
        position: absolute;
        left: 771px; top: 307px;
    } 
	.wear label {
        position: absolute;
        left: 753px; top: 919px;
    }
	.rpm label {
        position: absolute;
        left: 615px; top: 919px;
    }
	
	/*Placing radio buttons in the circle*/
    .deg18 { transform: rotate(18deg) translate(110px) rotate(-18deg); }
    .deg54 { transform: rotate(54deg) translate(110px) rotate(-54deg); }
    .deg90 { transform: rotate(90deg) translate(110px) rotate(-90deg); }
    .deg126 { transform: rotate(126deg) translate(110px) rotate(-126deg); }
    .deg162 { transform: rotate(162deg) translate(110px) rotate(-162deg); }
    .deg198 { transform: rotate(198deg) translate(110px) rotate(-198deg); }
    .deg234 { transform: rotate(234deg) translate(110px) rotate(-234deg); }
    .deg270 { transform: rotate(270deg) translate(110px) rotate(-270deg); }
    .deg306 { transform: rotate(306deg) translate(110px) rotate(-306deg); }
    .deg342 { transform: rotate(342deg) translate(110px) rotate(-342deg); }

    .deg18-inside { transform: rotate(18deg) translate(50px) rotate(-18deg); }
    .deg54-inside { transform: rotate(54deg) translate(50px) rotate(-54deg); }
    .deg90-inside { transform: rotate(90deg) translate(50px) rotate(-90deg); }
    .deg126-inside { transform: rotate(126deg) translate(50px) rotate(-126deg); }
    .deg162-inside { transform: rotate(162deg) translate(50px) rotate(-162deg); }
    .deg198-inside { transform: rotate(198deg) translate(50px) rotate(-198deg); }
    .deg234-inside { transform: rotate(234deg) translate(50px) rotate(-234deg); }
    .deg270-inside { transform: rotate(270deg) translate(50px) rotate(-270deg); }
    .deg306-inside { transform: rotate(306deg) translate(50px) rotate(-306deg); }
    .deg342-inside { transform: rotate(342deg) translate(50px) rotate(-342deg); }    
	
    .deg0-e { transform: translate(50px); }
    .deg45-e { transform: rotate(45deg) translate(50px) rotate(-54deg); }
    .deg90-e { transform: rotate(90deg) translate(50px) rotate(-90deg); }
    .deg135-e { transform: rotate(135deg) translate(50px) rotate(-135deg); }
    .deg180-e { transform: translate(-50px); }
    .deg225-e { transform: rotate(225deg) translate(50px) rotate(-225deg); }
    .deg270-e { transform: rotate(270deg) translate(50px) rotate(-270deg); }
    .deg315-e { transform: rotate(315deg) translate(50px) rotate(-315deg); }
	
/* Hide the browser's default radio button*/
.token > label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
} 

/* On mouse-over, add a grey background color */
.token > label:hover input ~ .checkmark {
  background-color: #c0c0c080;
}

/* When the radio button is checked, add a blue background */
.token > label input:checked ~ .checkmark {
  background-color: #00ADF780;
}




/*----------------- Pilot Tab Formatting ------------------*/

/*----------------- 2 columned, 406px each ------------------*/
.tab-pilot {
  display: block;
  width: 820px;
  height: auto;
  grid-gap: 4px;
  align-items: start;
  grid-template-columns: 406px 406x;
  grid-template-rows:  minmax(min-content, max-content)    ;
  grid-template-areas:"nameline   nameline"
					  "hometownline   hometownline"
					  "talents   talents"
					  "weapons   weapons"
					  "armor    armor"
					  "items    items"
					  "contacts   contacts"
					  "bonecharms  bonecharms"
					  "mana    mana"
					  "powers    powers"
					  "notes   notes";
}

/* By default, hides all archetypes*/
.sheet-farmer,
.sheet-soldier,
.sheet-fisher,
.sheet-survivor,
.sheet-skyborn,
.sheet-believer,
.sheet-scion,
.sheet-worker,
.sheet-student,
.sheet-witch {
    display: none;
}

/* show the selected archetype */
.sheet-playsheettoggle[value="farmer"] ~ div.sheet-farmer,
.sheet-playsheettoggle[value="soldier"] ~ div.sheet-soldier,
.sheet-playsheettoggle[value="fisher"] ~ div.sheet-fisher,
.sheet-playsheettoggle[value="survivor"] ~ div.sheet-survivor,
.sheet-playsheettoggle[value="skyborn"] ~ div.sheet-skyborn,
.sheet-playsheettoggle[value="believer"] ~ div.sheet-believer,
.sheet-playsheettoggle[value="scion"] ~ div.sheet-scion,
.sheet-playsheettoggle[value="worker"] ~ div.sheet-worker,
.sheet-playsheettoggle[value="student"] ~ div.sheet-student,
.sheet-playsheettoggle[value="witch"] ~ div.sheet-witch {
    display: grid;
}

.sheet-nameline {
  grid-area: nameline;
  align-self: self-start;
  font-family: 'Balthazar', serif;
  grid-template-columns: 80px 150px 5px 80px 150px 6px 50px 50px 50px 52px 150px;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: 30px 30px;

}

label.sheet-left-label{
	
	font-family: 'Balthazar', serif;
	color: black;
	display: inline;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;
	
}

select.sheet-select-inputs{
	
	font-family: 'Balthazar', serif;
	display: inline;
	height:30px;
	width:150px;
	font-size: 1.5em;
}

input.sheet-char-inputs{
	
	font-family: 'Balthazar', serif;
	display: inline;
	height:30px;
	width:150px;
	font-size: 1.5em;
}

input.hard{
	border-color: rgb(235, 113, 11);	
}

input.keen{
	border-color: rgb(121, 219, 107);	
}

input.calm{
	border-color: rgb(133, 222, 219);	
}

input.daring{
	border-color: rgb(245, 239, 73);	
}

button.sheet-reset-stats {
	
	font-family: 'Balthazar', serif;
	font-size: 1.5em;
	color: black;
	border-style: solid;
	/*border-radius: 8px;*/
	text-align: center;
	line-height: 25px;
	height: 25px;
	width:100px;
	background-color: rgb(187, 191, 187);

}

button.sheet-reset-stats:hover {
	background-color: rgb(235, 237, 235);
}



.sheet-playbook-name:not([value='fisher']) ~ .sheet-statpackage .playbook-fisher,
.sheet-playbook-name:not([value='witch']) ~ .sheet-statpackage .playbook-witch,
.sheet-playbook-name:not([value='farmer']) ~ .sheet-statpackage .playbook-farmer,
.sheet-playbook-name:not([value='soldier']) ~ .sheet-statpackage .playbook-soldier,
.sheet-playbook-name:not([value='survivor']) ~ .sheet-statpackage .playbook-survivor,
.sheet-playbook-name:not([value='skyborn']) ~ .sheet-statpackage .playbook-skyborn,
.sheet-playbook-name:not([value='believer']) ~ .sheet-statpackage .playbook-believer,
.sheet-playbook-name:not([value='scion']) ~ .sheet-statpackage .playbook-scion,
.sheet-playbook-name:not([value='worker']) ~ .sheet-statpackage .playbook-worker,
.sheet-playbook-name:not([value='student']) ~ .sheet-statpackage .playbook-student {
  display: none;
}














